main{
    width: 1000px;
    margin: 0 auto;

}
.top{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.mid{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.bot{
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    

}
.toprow {
    width: 10px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.middlerow {
    width: 10px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.bottomrow{
   width: 10px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}